@keyframes color-change {
	0% {
		color: red;
	}

	25% {
		color: yellow;
	}

	50% {
		color: green;
	}

	75% {
		color: blue;
	}

	100% {
		color: red;
	}
}

body {
	background-image: url("/images/watercolor.png");
	font-family: Helvetica, serif;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.grid {
	display: grid;
	place-items: center;
}

.multicolor-animated {
	animation: color-change 3s infinite;
}